<%
const meta = {
    title: 'マルマサの牡蠣とは',
    type: "about",
    path: './',
    description: "アバウトの説明が入ります。"
}
%>

<%- include(`${meta.path}@include/_header`, {meta: meta}) %>

<section class="hero">
    <div class="hero__inner">
        <img class="hero__img" src="<%- meta.path %>img/about_hero.png"
             alt="">
        <img class="hero__act" src="<%- meta.path %>img/about_hero_act.png" alt="">
        <h2 class="hero__text -yuuai">マルマサの牡蠣とは</h2>
    </div>
</section>
    <section class="l-section">
        <div class="l-section__inner">
            <div class="container">
                <div class="about">
                    <div class="about__inner">
                        <div class="about__main-img">
                            <img src="<%- meta.path %>img/about1.png" alt="">
                        </div>
                        <div class="about__box">
                            <h2><img class="_w-auto" src="<%- meta.path %>img/about2.png" alt="マルマサ自慢の広島牡蠣"></h2>
                            <p class="_lh-25 _fwb _mt-32 _ls-100">牡蠣が美味しく育つ環境は、豊富なプランクトン、<br>美しい海水、潮の流れなど様々な要因があります。<br>マルマサ水産のある広島県呉市音戸町は<br>古くから牡蠣の産地として知られてきました。<br>マルマサでは、一粒一粒を大切に育てた牡蠣を早朝に水揚げし、洗浄したものを皆様の食卓へお届けしています。<br>豊な海の栄養がつまった、美味しい牡蠣をぜひご賞味ください。
                            </p>
                        </div>
                    </div>
                    <div class="about__img-box _mt-40">
                        <div class="l-grid-large">
                            <div class="l-grid-large__cell -col-md-6"><img src="<%- meta.path %>img/about3.png" alt="">
                            </div>
                            <div class="l-grid-large__cell -col-md-6"><img src="<%- meta.path %>img/about4.png" alt="">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <div class="observer-el">

        <section class="l-section">
            <div class="l-section__inner">
                <div class="container">
                    <h2 class="heading">会社概要</h2>
                    <div class="company">
                        <div class="company__inner">
                            <dl class="company__details">
                                <div class="company__box">
                                    <dt class="company__head">会社名</dt>
                                    <dd class="company__main">株式会社マルマサ水産</dd>
                                </div>
                                <div class="company__box">
                                    <dt class="company__head">代表取締役</dt>
                                    <dd class="company__main">吉本 光男</dd>
                                </div>
                                <div class="company__box">
                                    <dt class="company__head">住所</dt>
                                    <dd class="company__main">
                                        <address>〒737-1215 広島県呉市音戸町早瀬1丁目34-32</address>
                                    </dd>
                                </div>
                                <div class="company__box">
                                    <dt class="upper-case company__head">Tel</dt>
                                    <dd class="company__main">0823-56-0947</dd>
                                </div>
                                <div class="company__box">
                                    <dt class="upper-case company__head">Fax</dt>
                                    <dd class="company__main">0823-56-1094</dd>
                                </div>
                                <div class="company__box">
                                    <dt class="company__head">事業内容</dt>
                                    <dd class="company__main">牡蠣の養殖・小売</dd>
                                </div>
                            </dl>
                            <div class="company__sub">
                                <div class="border-box">
                                    <p class="_fz-13 _t-center _fwb _pl-24 _pr-24">
                                        高い鮮度と徹底された漁場管理・衛生のもとで育った“海のミルク”広島牡蠣をどうぞお召し上がりください。</p>
                                </div>
                                <img class="_mt-24" src="<%- meta.path %>img/about5.png" alt="">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
<%- include(`${meta.path}@include/_footer`, {meta: meta}) %>