<%
const meta = {
    title: '株式会社マルマサ水産',
    type: "home",
    path: './',
    description: "トップページの説明が入ります。"
}
%>

<%- include(`${meta.path}@include/_header`, {meta: meta}) %>
<section class="hero">
    <div class="hero__inner">
        <img class="hero__img" src="<%- meta.path %>img/top_hero.png"
             alt="">
        <img class="hero__text-img" src="<%- meta.path %>img/top_hero_text.png" alt="瀬戸内の音戸から新鮮な牡蠣をお届けします。">
        <img class="hero__act" src="<%- meta.path %>img/top_hero_act.png" alt="">
    </div>
</section>
<div class="observer-el">
    <section class="l-section _pt-0 _pt-lg-64">
        <div class="l-section__inner">
            <div class="container">
                <div class="news">
                    <div class="news__inner">
                        <div class="news__head">
                            <h2><img class="" src="<%- meta.path %>img/news.png" alt="お知らせ"></h2>
<!--                            <div class="news__more">-->
<!--                                <a href="" class="-border _c-main _fwb">一覧を見る<img class="_w-auto _d-inline-block _ml-8"-->
<!--                                                                                  src="<%- meta.path %>img/chevron_blue.png"-->
<!--                                                                                  alt=""></a>-->
<!--                            </div>-->
                        </div>
                        <div class="news__box">
                            <div class="news__meta">
                                <div class="news__time">
                                    <time datetime="2020-00-00">2020.00.00</time>
                                </div>
                                <a href="" class="news__category">お知らせ</a>
                            </div>
                            <div class="news__main">
                                <h3 class="news__title"><img class="_w-auto _d-inline-block _mr-8"
                                                             src="<%- meta.path %>img/chevron_blue.png" alt="">ホームページをリニューアルしました。
                                </h3>
                            </div>
                        </div>
<!--                        <div class="news__box">-->
<!--                            <div class="news__meta">-->
<!--                                <div class="news__time">-->
<!--                                    <time datetime="2020-00-00">2020.00.00</time>-->
<!--                                </div>-->
<!--                                <a href="" class="news__category">お知らせ</a>-->
<!--                            </div>-->
<!--                            <div class="news__main">-->
<!--                                <h3 class="news__title"><img class="_w-auto _d-inline-block _mr-8"-->
<!--                                                             src="<%- meta.path %>img/chevron_blue.png" alt="">年末年始の営業時間について（ダミー）-->
<!--                                </h3>-->
<!--                            </div>-->
<!--                        </div>-->
<!--                        <div class="news__box">-->
<!--                            <div class="news__meta">-->
<!--                                <div class="news__time">-->
<!--                                    <time datetime="2020-00-00">2020.00.00</time>-->
<!--                                </div>-->
<!--                                <a href="" class="news__category">お知らせ</a>-->
<!--                            </div>-->
<!--                            <div class="news__main">-->
<!--                                <h3 class="news__title"><img class="_w-auto _d-inline-block _mr-8"-->
<!--                                                             src="<%- meta.path %>img/chevron_blue.png" alt="">年末年始の営業時間について（ダミー）-->
<!--                                </h3>-->
<!--                            </div>-->
<!--                        </div>-->
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section class="l-section">
        <div class="l-section__inner">
            <div class="container">
                <div class="top-box">
                    <div class="top-box__inner">
                        <div class="top-box__left">
                            <h2><img src="<%- meta.path %>img/maru_catch.png" alt="マルマサ自慢の広島牡蠣"></h2>
                            <div class="top-box__text">
                                <p>マルマサ水産の手間を惜しまず、<br>熟成されたこだわりの育成技術で新鮮で良質の牡蠣をお客様にご賞味いただけるよう日々精進しています。</p>
                                <div class="_mt-24">
                                    <a href="<%- meta.path %>about.html" class="more-button">もっと読む<img class="more-button__icon _w-auto"
                                                                             src="<%- meta.path %>img/chevron_blue.png"
                                                                             alt=""></a>
                                </div>
                            </div>
                        </div>
                        <div class="top-box__right">
                            <img src="<%- meta.path %>img/kaki_01.png" alt="">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
<!--    <section class="l-section">-->
<!--        <div class="section__inner">-->
<!--            <div class="container">-->
<!--                <h2 class="_t-md-center"><img class="_w-auto _d-inline-block" src="<%- meta.path %>img/rank.png"-->
<!--                                              alt="売れ筋ランキング"></h2>-->
<!--                <div class="_mt-48">-->
<!--                    <div class="l-grid-large">-->
<!--                        <div class="l-grid-large__cell -col-md-4">-->
<!--                            <a class="card" href="<%- meta.path %>">-->
<!--                                <div class="card__inner">-->
<!--                                    <div class="card__header">-->
<!--                                        <div class="card__thumbnail">-->
<!--                                            <img src="<%- meta.path %>img/kaki_02.png" alt="牡蠣の写真">-->
<!--                                            <img class="card__rank-img" src="<%- meta.path %>img/1.png" alt="人気一位">-->
<!--                                        </div>-->
<!--                                        <div class="card__title">-->
<!--                                            <h3>【生食用】広島牡蠣むきみ500g</h3>-->
<!--                                        </div>-->
<!--                                    </div>-->
<!--                                    <div class="card__body">-->
<!--                                        <p>ここに簡単な説明が入ります。ここに簡単な説明が入ります。ここに簡単な説明が入ります。ここに簡単な説明が入ります。</p>-->
<!--                                    </div>-->
<!--                                </div>-->
<!--                            </a>-->
<!--                        </div>-->
<!--                        <div class="l-grid-large__cell -col-md-4">-->
<!--                            <a class="card" href="<%- meta.path %>">-->
<!--                                <div class="card__inner">-->
<!--                                    <div class="card__header">-->
<!--                                        <div class="card__thumbnail">-->
<!--                                            <img src="<%- meta.path %>img/kaki_03.png" alt="牡蠣の写真">-->
<!--                                            <img class="card__rank-img" src="<%- meta.path %>img/2.png" alt="人気一位">-->
<!--                                        </div>-->
<!--                                        <div class="card__title">-->
<!--                                            <h3>【生食用】広島牡蠣むきみ500g</h3>-->
<!--                                        </div>-->
<!--                                    </div>-->
<!--                                    <div class="card__body">-->
<!--                                        <p>ここに簡単な説明が入ります。ここに簡単な説明が入ります。ここに簡単な説明が入ります。ここに簡単な説明が入ります。</p>-->
<!--                                    </div>-->
<!--                                </div>-->
<!--                            </a>-->
<!--                        </div>-->
<!--                        <div class="l-grid-large__cell -col-md-4">-->
<!--                            <a class="card" href="<%- meta.path %>">-->
<!--                                <div class="card__inner">-->
<!--                                    <div class="card__header">-->
<!--                                        <div class="card__thumbnail">-->
<!--                                            <img src="<%- meta.path %>img/kaki_04.png" alt="牡蠣の写真">-->
<!--                                            <img class="card__rank-img" src="<%- meta.path %>img/3.png" alt="人気一位">-->
<!--                                        </div>-->
<!--                                        <div class="card__title">-->
<!--                                            <h3>【生食用】広島牡蠣むきみ500g</h3>-->
<!--                                        </div>-->
<!--                                    </div>-->
<!--                                    <div class="card__body">-->
<!--                                        <p>ここに簡単な説明が入ります。ここに簡単な説明が入ります。ここに簡単な説明が入ります。ここに簡単な説明が入ります。</p>-->
<!--                                    </div>-->
<!--                                </div>-->
<!--                            </a>-->
<!--                        </div>-->
<!--                    </div>-->
<!--                </div>-->
<!--                <div class="_t-center _mt-24">-->
<!--                    <a href=""><img class="buy-button _d-inline-block" src="<%- meta.path %>img/buy_chevron_button.png"-->
<!--                                    alt="お買い物はこちらから"></a>-->
<!--                </div>-->
<!--            </div>-->
<!--        </div>-->
<!--    </section>-->

<!--    <section class="l-section">-->
<!--        <div class="section__inner">-->
<!--            <div class="container">-->
<!--                <h2 class="relative _t-md-center"><img class="_w-auto _d-inline-block"-->
<!--                                                       src="<%- meta.path %>img/recommend.png"-->
<!--                                                       alt="おすすめ商品"><img class="set-img _w-auto"-->
<!--                                                                         src="<%- meta.path %>img/set.png"-->
<!--                                                                         alt="セットにはレモンと牡蠣ナイフがついとるよ！"></h2>-->
<!--                <div class="_mt-32">-->
<!--                    <div class="l-grid-large">-->
<!--                        <div class="l-grid-large__cell -col-lg-3 -col-md-4 -col-12">-->
<!--                            <a class="card" href="<%- meta.path %>">-->
<!--                                <div class="card__inner">-->
<!--                                    <div class="card__header">-->
<!--                                        <div class="card__thumbnail">-->
<!--                                            <img src="<%- meta.path %>img/kaki_04.png" alt="牡蠣の写真">-->
<!--                                            <img class="card__tag" src="<%- meta.path %>img/remon_tag.png"-->
<!--                                                 alt="レモン・牡蠣ナイフ付">-->
<!--                                        </div>-->
<!--                                        <div class="card__title">-->
<!--                                            <h3>【生食用】広島牡蠣むきみ500g</h3>-->
<!--                                        </div>-->
<!--                                    </div>-->
<!--                                    <div class="card__body">-->
<!--                                        <p>ここに簡単な説明が入ります。ここに簡単な説明が入ります。ここに簡単な説明が入ります。ここに簡単な説明が入ります。</p>-->
<!--                                    </div>-->
<!--                                </div>-->
<!--                            </a>-->
<!--                        </div>-->
<!--                        <div class="l-grid-large__cell -col-lg-3 -col-md-4 -col-12"><a class="card"-->
<!--                                                                                       href="<%- meta.path %>">-->
<!--                                <div class="card__inner">-->
<!--                                    <div class="card__header">-->
<!--                                        <div class="card__thumbnail">-->
<!--                                            <img src="<%- meta.path %>img/kaki_04.png" alt="牡蠣の写真">-->
<!--                                            <img class="card__tag" src="<%- meta.path %>img/remon_tag.png"-->
<!--                                                 alt="レモン・牡蠣ナイフ付">-->
<!--                                        </div>-->
<!--                                        <div class="card__title">-->
<!--                                            <h3>【生食用】広島牡蠣むきみ500g</h3>-->
<!--                                        </div>-->
<!--                                    </div>-->
<!--                                    <div class="card__body">-->
<!--                                        <p>ここに簡単な説明が入ります。ここに簡単な説明が入ります。ここに簡単な説明が入ります。ここに簡単な説明が入ります。</p>-->
<!--                                    </div>-->
<!--                                </div>-->
<!--                            </a></div>-->
<!--                        <div class="l-grid-large__cell -col-lg-3 -col-md-4 -col-12"><a class="card"-->
<!--                                                                                       href="<%- meta.path %>">-->
<!--                                <div class="card__inner">-->
<!--                                    <div class="card__header">-->
<!--                                        <div class="card__thumbnail">-->
<!--                                            <img src="<%- meta.path %>img/kaki_04.png" alt="牡蠣の写真">-->
<!--                                        </div>-->
<!--                                        <div class="card__title">-->
<!--                                            <h3>【生食用】広島牡蠣むきみ500g</h3>-->
<!--                                        </div>-->
<!--                                    </div>-->
<!--                                    <div class="card__body">-->
<!--                                        <p>ここに簡単な説明が入ります。ここに簡単な説明が入ります。ここに簡単な説明が入ります。ここに簡単な説明が入ります。</p>-->
<!--                                    </div>-->
<!--                                </div>-->
<!--                            </a></div>-->
<!--                        <div class="l-grid-large__cell -col-lg-3 -col-md-4 -col-12"><a class="card"-->
<!--                                                                                       href="<%- meta.path %>">-->
<!--                                <div class="card__inner">-->
<!--                                    <div class="card__header">-->
<!--                                        <div class="card__thumbnail">-->
<!--                                            <img src="<%- meta.path %>img/kaki_04.png" alt="牡蠣の写真">-->
<!--                                        </div>-->
<!--                                        <div class="card__title">-->
<!--                                            <h3>【生食用】広島牡蠣むきみ500g</h3>-->
<!--                                        </div>-->
<!--                                    </div>-->
<!--                                    <div class="card__body">-->
<!--                                        <p>ここに簡単な説明が入ります。ここに簡単な説明が入ります。ここに簡単な説明が入ります。ここに簡単な説明が入ります。</p>-->
<!--                                    </div>-->
<!--                                </div>-->
<!--                            </a></div>-->
<!--                        <div class="l-grid-large__cell -col-lg-3 -col-md-4 -col-12"><a class="card"-->
<!--                                                                                       href="<%- meta.path %>">-->
<!--                                <div class="card__inner">-->
<!--                                    <div class="card__header">-->
<!--                                        <div class="card__thumbnail">-->
<!--                                            <img src="<%- meta.path %>img/kaki_04.png" alt="牡蠣の写真">-->
<!--                                            <img class="card__tag" src="<%- meta.path %>img/remon_tag.png"-->
<!--                                                 alt="レモン・牡蠣ナイフ付">-->

<!--                                        </div>-->
<!--                                        <div class="card__title">-->
<!--                                            <h3>【生食用】広島牡蠣むきみ500g</h3>-->
<!--                                        </div>-->
<!--                                    </div>-->
<!--                                    <div class="card__body">-->
<!--                                        <p>ここに簡単な説明が入ります。ここに簡単な説明が入ります。ここに簡単な説明が入ります。ここに簡単な説明が入ります。</p>-->
<!--                                    </div>-->
<!--                                </div>-->
<!--                            </a></div>-->
<!--                        <div class="l-grid-large__cell -col-lg-3 -col-md-4 -col-12"><a class="card"-->
<!--                                                                                       href="<%- meta.path %>">-->
<!--                                <div class="card__inner">-->
<!--                                    <div class="card__header">-->
<!--                                        <div class="card__thumbnail">-->
<!--                                            <img src="<%- meta.path %>img/kaki_04.png" alt="牡蠣の写真">-->
<!--                                            <img class="card__tag" src="<%- meta.path %>img/remon_tag.png"-->
<!--                                                 alt="レモン・牡蠣ナイフ付">-->

<!--                                        </div>-->
<!--                                        <div class="card__title">-->
<!--                                            <h3>【生食用】広島牡蠣むきみ500g</h3>-->
<!--                                        </div>-->
<!--                                    </div>-->
<!--                                    <div class="card__body">-->
<!--                                        <p>ここに簡単な説明が入ります。ここに簡単な説明が入ります。ここに簡単な説明が入ります。ここに簡単な説明が入ります。</p>-->
<!--                                    </div>-->
<!--                                </div>-->
<!--                            </a></div>-->
<!--                        <div class="l-grid-large__cell -col-lg-3 -col-md-4 -col-12"><a class="card"-->
<!--                                                                                       href="<%- meta.path %>">-->
<!--                                <div class="card__inner">-->
<!--                                    <div class="card__header">-->
<!--                                        <div class="card__thumbnail">-->
<!--                                            <img src="<%- meta.path %>img/kaki_04.png" alt="牡蠣の写真">-->
<!--                                        </div>-->
<!--                                        <div class="card__title">-->
<!--                                            <h3>【生食用】広島牡蠣むきみ500g</h3>-->
<!--                                        </div>-->
<!--                                    </div>-->
<!--                                    <div class="card__body">-->
<!--                                        <p>ここに簡単な説明が入ります。ここに簡単な説明が入ります。ここに簡単な説明が入ります。ここに簡単な説明が入ります。</p>-->
<!--                                    </div>-->
<!--                                </div>-->
<!--                            </a></div>-->
<!--                        <div class="l-grid-large__cell -col-lg-3 -col-md-4 -col-12"><a class="card"-->
<!--                                                                                       href="<%- meta.path %>">-->
<!--                                <div class="card__inner">-->
<!--                                    <div class="card__header">-->
<!--                                        <div class="card__thumbnail">-->
<!--                                            <img src="<%- meta.path %>img/kaki_04.png" alt="牡蠣の写真">-->
<!--                                        </div>-->
<!--                                        <div class="card__title">-->
<!--                                            <h3>【生食用】広島牡蠣むきみ500g</h3>-->
<!--                                        </div>-->
<!--                                    </div>-->
<!--                                    <div class="card__body">-->
<!--                                        <p>ここに簡単な説明が入ります。ここに簡単な説明が入ります。ここに簡単な説明が入ります。ここに簡単な説明が入ります。</p>-->
<!--                                    </div>-->
<!--                                </div>-->
<!--                            </a></div>-->
<!--                    </div>-->
<!--                </div>-->
<!--                <div class="_t-center _mt-24">-->
<!--                    <a href=""><img class="buy-button _d-inline-block" src="<%- meta.path %>img/buy_chevron_button.png"-->
<!--                                    alt="お買い物はこちらから"></a>-->
<!--                </div>-->
<!--            </div>-->
<!--        </div>-->
<!--    </section>-->
<!--    <section class="l-section _pt-0">-->
<!--        <div class="info-box">-->
<!--            <div class="l-section__inner _pt-64 _pb-64">-->
<!--                <div class="container">-->
<!--                    <h2 class="_t-center _mt-48"><img class="_w-auto _d-inline-block"-->
<!--                                                      src="<%- meta.path %>img/kaki_info.png"-->
<!--                                                      alt="牡蠣のいろいろ情報"></h2>-->

<!--                    <div class="info-box__header">-->

<!--                        <img class="info-box__women" src="<%- meta.path %>img/women.png" alt="レシピもあるけぇ見てねー">-->
<!--                        <ul class="category-box _mt-40">-->
<!--                            <li class="category-box__item"><a href="" class="category-box__link">#ダミーテキスト</a></li>-->
<!--                            <li class="category-box__item"><a href="" class="category-box__link">#ダミーテキスト</a></li>-->
<!--                            <li class="category-box__item"><a href="" class="category-box__link">#ダミーテキスト</a></li>-->
<!--                            <li class="category-box__item"><a href="" class="category-box__link">#ダミーテキスト</a></li>-->
<!--                            <li class="category-box__item"><a href="" class="category-box__link">#ダミーテキスト</a></li>-->
<!--                            <li class="category-box__item"><a href="" class="category-box__link">#ダミーテキスト</a></li>-->
<!--                            <li class="category-box__item"><a href="" class="category-box__link">#ダミーテキスト</a></li>-->
<!--                        </ul>-->
<!--                    </div>-->
<!--                </div>-->
<!--                <div class="_mt-60">-->
<!--                    <div class="swiper-container">-->
<!--                        <div class="swiper-wrapper">-->
<!--                            <div class="swiper-slide">-->
<!--                                <a class="card" href="<%- meta.path %>">-->
<!--                                    <div class="card__inner">-->
<!--                                        <div class="card__header">-->
<!--                                            <div class="card__thumbnail">-->
<!--                                                <img src="<%- meta.path %>img/kaki_04.png" alt="牡蠣の写真">-->
<!--                                            </div>-->
<!--                                            <div class="card__title">-->
<!--                                                <h3>【生食用】広島牡蠣むきみ500g</h3>-->
<!--                                                <span class="_c-act _fwb _fz-14 _mt-8"># ダミーテキスト</span>-->
<!--                                            </div>-->
<!--                                        </div>-->
<!--                                        <div class="card__body">-->
<!--                                            <p>ここに簡単な説明が入ります。ここに簡単な説明が入ります。ここに簡単な説明が入ります。ここに簡単な説明が入ります。</p>-->
<!--                                        </div>-->
<!--                                    </div>-->
<!--                                </a>-->
<!--                            </div>-->
<!--                            <div class="swiper-slide">-->
<!--                                <a class="card" href="<%- meta.path %>">-->
<!--                                    <div class="card__inner">-->
<!--                                        <div class="card__header">-->
<!--                                            <div class="card__thumbnail">-->
<!--                                                <img src="<%- meta.path %>img/kaki_04.png" alt="牡蠣の写真">-->
<!--                                            </div>-->
<!--                                            <div class="card__title">-->
<!--                                                <h3>【生食用】広島牡蠣むきみ500g</h3>-->
<!--                                                <span class="_c-act _fwb _fz-14 _mt-8"># ダミーテキスト</span>-->
<!--                                            </div>-->
<!--                                        </div>-->
<!--                                        <div class="card__body">-->
<!--                                            <p>ここに簡単な説明が入ります。ここに簡単な説明が入ります。ここに簡単な説明が入ります。ここに簡単な説明が入ります。</p>-->
<!--                                        </div>-->
<!--                                    </div>-->
<!--                                </a>-->
<!--                            </div>-->
<!--                            <div class="swiper-slide">-->
<!--                                <a class="card" href="<%- meta.path %>">-->
<!--                                    <div class="card__inner">-->
<!--                                        <div class="card__header">-->
<!--                                            <div class="card__thumbnail">-->
<!--                                                <img src="<%- meta.path %>img/kaki_04.png" alt="牡蠣の写真">-->
<!--                                            </div>-->
<!--                                            <div class="card__title">-->
<!--                                                <h3>【生食用】広島牡蠣むきみ500g</h3>-->
<!--                                                <span class="_c-act _fwb _fz-14 _mt-8"># ダミーテキスト</span>-->
<!--                                            </div>-->
<!--                                        </div>-->
<!--                                        <div class="card__body">-->
<!--                                            <p>ここに簡単な説明が入ります。ここに簡単な説明が入ります。ここに簡単な説明が入ります。ここに簡単な説明が入ります。</p>-->
<!--                                        </div>-->
<!--                                    </div>-->
<!--                                </a>-->
<!--                            </div>-->
<!--                            <div class="swiper-slide">-->
<!--                                <a class="card" href="<%- meta.path %>">-->
<!--                                    <div class="card__inner">-->
<!--                                        <div class="card__header">-->
<!--                                            <div class="card__thumbnail">-->
<!--                                                <img src="<%- meta.path %>img/kaki_04.png" alt="牡蠣の写真">-->
<!--                                            </div>-->
<!--                                            <div class="card__title">-->
<!--                                                <h3>【生食用】広島牡蠣むきみ500g</h3>-->
<!--                                                <span class="_c-act _fwb _fz-14 _mt-8"># ダミーテキスト</span>-->
<!--                                            </div>-->
<!--                                        </div>-->
<!--                                        <div class="card__body">-->
<!--                                            <p>ここに簡単な説明が入ります。ここに簡単な説明が入ります。ここに簡単な説明が入ります。ここに簡単な説明が入ります。</p>-->
<!--                                        </div>-->
<!--                                    </div>-->
<!--                                </a>-->
<!--                            </div>-->
<!--                            <div class="swiper-slide">-->
<!--                                <a class="card" href="<%- meta.path %>">-->
<!--                                    <div class="card__inner">-->
<!--                                        <div class="card__header">-->
<!--                                            <div class="card__thumbnail">-->
<!--                                                <img src="<%- meta.path %>img/kaki_04.png" alt="牡蠣の写真">-->
<!--                                            </div>-->
<!--                                            <div class="card__title">-->
<!--                                                <h3>【生食用】広島牡蠣むきみ500g</h3>-->
<!--                                                <span class="_c-act _fwb _fz-14 _mt-8"># ダミーテキスト</span>-->
<!--                                            </div>-->
<!--                                        </div>-->
<!--                                        <div class="card__body">-->
<!--                                            <p>ここに簡単な説明が入ります。ここに簡単な説明が入ります。ここに簡単な説明が入ります。ここに簡単な説明が入ります。</p>-->
<!--                                        </div>-->
<!--                                    </div>-->
<!--                                </a>-->
<!--                            </div>-->
<!--                        </div>-->
<!--                    </div>-->
<!--                    <div class="_mt-24 _t-center _pl-16 _pr-16 _pl-md-0 _pr-md-0">-->
<!--                        <a href="" class="more-button -info _d-inline-block">一覧を見る<img class="more-button__icon _w-auto"-->
<!--                                                                                       src="<%- meta.path %>img/chevron_blue.png"-->
<!--                                                                                       alt=""></a>-->
<!--                    </div>-->
<!--                </div>-->
<!--            </div>-->
<!--        </div>-->
<!--    </section>-->
    <%- include(`${meta.path}@include/_footer`, {meta: meta}) %>
